node_modules
.env
coverage
coverage.json
typechain
.DS_Store
build/*
!build/.gitkeep

# Hardhat files
cache
artifacts

# logs
*.log

# PoT files
pot/pot24_final.ptau
pot/ERC721OwnershipChecker_0000.zkey
pot/ERC721OwnershipChecker_final.zkey

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions